.my_progresion {
    margin-left: 13%;
    margin-right: 13%;
}

@media (min-width: 0px) and (max-width: 767px) {

    .home-text {
        padding-top: 50px;
        text-align: center;
    }

    .my_progresion {
        margin-left: 0%;
        margin-right: 0%;
    }
    
}