
/* .home {
    margin-top: 10%;
} */

.mywork_text {
    margin-bottom: 10%;
}

#home {
    padding-top: 11%;
    padding-bottom: 10%;
}

#about {
    padding-top: 17%;
    padding-bottom: 20%;
}

#portfolio {
    padding-top: 5%;
    padding-bottom: 10%;
}

@media (min-width: 0px) and (max-width: 767px) {

    .home-text {
        padding-top: 70px;
        text-align: center;
    }

    .my_progress {
        margin-top: 70px;
    }

    #portfolio {
        padding-top: 17%;
        padding-bottom: 10%;
    }
    
}