
.portfolio {
    margin-top: 10%;
}

@media (min-width: 0px) and (max-width: 767px) {

    .home-text {
        padding-top: 70px;
        text-align: center;
    }

    .my_progress {
        margin-top: 70px;
    }
    
}